<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="card-body p-md-5 mx-md-4">
            <div class="row">
              <div class="col-md-6">
                <div class="profile-photo"></div>
              </div>
              <div class="col-md-6">
                <div class="profile-details">
                  <h1 class="username"></h1>
                  <p class="description"></p>
                  <div class="buttons">
                    <button type = "button" class="btn btn-primary like-button" onclick="mainController.handleLike(event)">J'aime</button>
                    <button type = "button" class="btn btn-secondary dislike-button" onclick="mainController.handleDislike(event)">je n'aime pas</button>
                  </div>
                  <div class="mt-4">
                    <a type = "button" class="btn btn-warning text-black"  onclick="navigate('match')">Voir les chats disponibles!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  