body {
    margin: 10px;
}


.hidden{
    visibility:hidden;
    color: red;
    font-size: 12px;
}
.err{
    color: red;
    font-size: 12px;
}


.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      
      .profile-photo {
        width: 200px;
        height: 300px;
        background-color: #ccc; /* Couleur de fond du rectangle vertical */
        margin-bottom: 20px;
      }
      
      .profile-details {
        text-align: left;
        margin-bottom: 20px;
      }
      
      .username {
        font-size: 22px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 5px;
      }
      
      .description {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 10px;
      }
      
      .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
      }
      
      .like-button,
      .dislike-button {
        padding: 10px 20px;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      .like-button {
        background-color: green;
        color: white;
      }
      
      .dislike-button {
        background-color: red;
        color: white;
      }

      .btn-warning.text-black {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 20px;
        margin-right: 20px;
        background-color: yellow;
        color: black;
      }
      .card-body {
        position: relative;
      }